$primary-color: #F76A94;
$text-shadow: #700448;
$body-color: #9c2860;
$text-color: #222;
$splash-font: 'Unica One',
cursive;
$body-font: 'Julius Sans One',
sans-serif;
$main-page-font: 'Heimdal',
'regular';